.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.Rdata
.httr-oauth
.DS_Store
.quarto
usv250ks4gw.zip
.zip
A Beginners Guide to Open Data.pdf
.pdf
.zip
889463842781_s.zip
static.zip
889463842781_s
Inf_BasesDatos.xlsx
Trash
estaciones.kmz
hongos_comestibles_filtrados_gbif.csv
hongos_comestibles_vegetacion_pino.Rmd
